.Contenedor {
width: 100%;
height: 1200px;
background-color: antiquewhite;
}
.Encabezado {
    width: 100%;
    height: 150px;
    background-color: rgb(89, 133, 48);

    font-size: 90px;
font-family: Georgia, 'Times New Roman', Times, serif;
color: black;
text-align: center;
}

.Menú {
    display: flex;
    width: 100%;
    height: 55px;
    background-color: rgb(255, 255, 255);
}
.Tecnología {
width: 330px;
height: 55px;
background-color: rgb(183, 194, 36);
margin: 2px;

font-size: 30px;
}
.Matemáticas {
    width: 330px;
    height: 55px;
    background-color: rgb(48, 155, 26);
    margin: 2px;

    font-size: 30px;
}
.Sociales {
    width: 330px;
    height: 55px;
    background-color: rgb(17, 110, 172);
    margin: 2px;

    font-size: 30px;
}
.Biología {
    width: 330px;
    height: 55px;
    background-color: rgb(156, 38, 111);
    margin: 2px;

    font-size: 30px;
}
.Contenedor2 {
    display: flex;
    width: 100%;
    height: 1000px;
    background-color: antiquewhite;
}
.Centro {
    width: 50%;
    height: 2900px;
    background-color: rgb(132, 199, 138);
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    text-align: center;
}
.Derecha {
    width: 50%;
    height: 2900px;
    background-color: rgb(152, 201, 158);
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    text-align: center;
}