.Contenedor {
    width: 100%;
    height: 1200px;
    background-color: darkseagreen;
}
.Encabezado {
    width: 100%;
    height: 150px;
    background-color: blueviolet;
    
    font-size: 35px;
    font-family: cursive;
    color: black;
    text-align: center;
}
.Menú {
    display: flex;
    width: 100%;
    height: 55px;
    background-color: rgb(255, 255, 255);
}

.Tecnología {
    width: 100px;
    height: 50px;
    background-color: rgb(194, 181, 0);
    margin: 2px;
}

.Matemáticas {
    width: 100px;
    height: 50px;
    background-color: rgb(14, 172, 0);
    margin: 2px;
}

.Inglés {
    width: 100px;
    height: 50px;
    background-color: rgb(0, 148, 185);
    margin: 2px;
}

.Sociales {
    width: 100px;
    height: 50px;
    background-color: rgb(0, 0, 175);
    margin: 2px;
}

.Biología {
    width: 100px;
    height: 50px;
    background-color: rgb(161, 0, 148);
    margin: 2px;
}

.Contenedor2 {
    display: flex;
    width: 100%;
    height: 1000px;
    background-color: cornsilk;
}
.Izquierda {
    width: 20%;
    height: 1000px;
    background-color: chocolate;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}
.Centro  {
    width: 60%;
    height: 1000px;
    background-color: darkred;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}
.Derecha {
    width: 20%;
    height: 1000px;
    background-color: darkslategray;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}