.Contenedor {
    width: 100%;
    height: 1200px;
    background-color: darkseagreen;
}
.Encabezado {
    width: 100%;
    height: 150px;
    background-color: chocolate;
font-size: 60px;
font-family: Georgia, 'Times New Roman', Times, serif;
color: black;
text-align: center;
}
.Menú {
    display: flex;
    width: 100%;
    height: 55px;
    background-color: rgb(255, 255, 255);
}

.Tecnología {
    width: 330px;
    height: 56px;
    background-color: rgb(194, 181, 0);
    margin: 2px;
    font-size: 30px;
}

.Matemáticas {
    width: 330px;
    height: 56px;
    background-color: rgb(14, 172, 0);
    margin: 2px;
    font-size: 30px;
}

.Sociales {
    width: 330px;
    height: 56px;
    background-color: rgb(0, 81, 255);
    margin: 2px;
    font-size: 30px;
}

.Biología {
    width: 330px;
    height: 56px;
    background-color: rgb(161, 0, 148);
    margin: 2px;
    font-size: 30px;
} 

.Contenedor2 {
    display: flex;
    width: 100%;
    height: 1000px;
    background-color: cornsilk;
}
.Centro  {
    width: 50%;
    height: 2300px;
    background-color: rgb(255, 227, 193);
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    text-align: center;
}
.Derecha {
    width: 50%;
    height: 2300px;
    background-color: rgb(255, 238, 219);
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    text-align: center;
}